### Financial Technical Analysis with DataFrames, PyTorch, Pandas

In [2]:
import pandas as pd
data = pd.read_csv("../_data/AAPL.csv", index_col=0, parse_dates=True) #index_col sets date column as index instead of adding an int, parse_dates sets it from string to a 'datetime64' datatype
data.head()    #use data.tail() for last 5 rows instead

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-09-10,155.000000,155.479996,148.699997,148.970001,148.139893,140893200
2021-09-13,150.630005,151.419998,148.750000,149.550003,148.716660,102404300
2021-09-14,150.350006,151.070007,146.910004,148.119995,147.294632,109296300
2021-09-15,148.559998,149.440002,146.369995,149.029999,148.199539,83281300
2021-09-16,148.440002,148.970001,147.220001,148.789993,147.960876,68034100

In [ ]:
adate = data.loc['2022-07-05']   #access data at a specific location (or date in this example)
last = data.iloc[-1]   #gets last index of dataset
print(f"{adate}\nLast date:\n{last}")

In [ ]:
dailyChange = data['Close'] - data['Open']
dailyPctChg = (data['Close'] - data['Open'])/data['Open']*100
dailyPctChg

In [5]:
boughtDate = data['Close'].iloc[0]
soldDate = data['Close'].iloc[-1]
# norm is the daily change from the first and current row date
# (Xn - X0)/Xn
norm = data['Close']/data['Close'].iloc[0]
norm

Date
2021-09-10    1.000000
2021-09-13    1.003893
2021-09-14    0.994294
2021-09-15    1.000403
2021-09-16    0.998792
                ...
2022-09-02    1.045915
2022-09-06    1.037323
2022-09-07    1.046922
2022-09-08    1.036853
2022-09-09    1.056387
Name: Close, Length: 252, dtype: float64

In [6]:
data['Daily chg'] = data['Close'] - data['Open']

In [7]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg
Date,,,,,,,
2021-09-10,155.000000,155.479996,148.699997,148.970001,148.139893,140893200,-6.029999
2021-09-13,150.630005,151.419998,148.750000,149.550003,148.716660,102404300,-1.080002
2021-09-14,150.350006,151.070007,146.910004,148.119995,147.294632,109296300,-2.230011
2021-09-15,148.559998,149.440002,146.369995,149.029999,148.199539,83281300,0.470001
2021-09-16,148.440002,148.970001,147.220001,148.789993,147.960876,68034100,0.349991

In [8]:
data['Normalized'] = data['Close'] / data['Close'].iloc[0]

In [10]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2022-09-02,159.750000,160.360001,154.970001,155.809998,155.809998,76905200,-3.940002,1.045915
2022-09-06,156.470001,157.089996,153.690002,154.529999,154.529999,73714800,-1.940002,1.037323
2022-09-07,154.820007,156.669998,153.610001,155.960007,155.960007,87449600,1.140000,1.046922
2022-09-08,154.639999,156.360001,152.679993,154.460007,154.460007,84923800,-0.179992,1.036853
2022-09-09,155.470001,157.820007,154.750000,157.369995,157.369995,68028800,1.899994,1.056387