# Financial Risks - with DataFrames, PyTorch, Pandas

In [1]:
import numpy as np
import datetime as dt
import pandas as pd
import pandas_datareader as pdr

In [4]:
ticker = 'AAPL'
start = dt.datetime(2020,1,1)

data = pdr.get_data_yahoo(ticker, start)

In [5]:
data.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.683563
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  72.967216
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.548622
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.202721
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.380287

type(data)